use nix

export GOOGLE_CLIENT_ID=_
export GOOGLE_CLIENT_SECRET=_
export GOOGLE_REDIRECT_URI=_

export FLATFILE_TEAM_ID=_
export FLATFILE_ACCESS_KEY_ID=_
export FLATFILE_SECRET_ACCESS_KEY=_
export FLATFILE_API_HOST=_
export FLATFILE_PRIVATE_KEY_LEADS=_
export FLATFILE_PRIVATE_KEY_PRODUCTS=_
