<section>
  <h1 class="text-slate-800">Home</h1>
  <!-- <button id="launch-btn">Import Leads</button> -->
  <flatfile-importer data-token={@token}>
    <button
      class="text-lg text-white font-medium rounded border-none bg-[#352ab5] px-5 py-2.5 focus:drop-show-xl"
      slot="launcher"
    >
      Import Leads
    </button>
  </flatfile-importer>
</section>
