<section>
  <h1 class="text-slate-800">Home</h1>
  <button id="leads-importer">Import Leads</button>

  <%= if length(@leads) == 0 do %>
    <p>Show empty state</p>
  <% else %>
    <p>Show all leads</p>
  <% end %>
</section>
